</head>
<body>
  <nav>
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >Add Flight</a>
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >ALL FLIGHTS</a>
  </nav>