<%- include("../partials/html-head") %>

<link rel="stylesheet" href="/stylesheets/flights/new.css">
  
<%- include("../partials/nav") %>
<main>
  <h1>Add A Destination</h1>
  <form action="/destinations" method="POST">
  </form>
</main>

<%- include("../partials/footer") %> 